@import "bourbon";

body{
  background: #eef6f9;
}

.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
}


.icon-scroll{
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  box-shadow: inset 0 0 0 1.7px #2c516c;
  border-radius: 25px;
  
  &:before{
    content: '';
    width: 8px;
    height: 8px;
    background: #2c516c;
    top: 8px;
    border-radius: 4px;
    margin-left: -4px;
    animation: scroll infinite 1.5s;
  }
}

@keyframes scroll{
  0%{
     opacity: 1;
     transform: translateY(6px);
  }
  
  100%{
    opacity: 0;
    transform: translateY(40px);
  }
  
}