@import "vars" 


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	h3
		margin: 56px 0 23px 
	header
		padding: 12px 0
	.logo
		img
			width: 157px
			height:  auto
			padding-top: 6px
	.main-sren
		padding: 180px 0
		.row
			align-items: flex-start
		h1
			font-size: 36px
			line-height: 1.5
		p
			padding: 0 !important
			letter-spacing: -0.91px
			margin-left: -1px
		.update
			margin: 161px 0 0
			letter-spacing: 0px
		&-img
			text-align: right
			img
				max-width: 326px
				height: auto
	.left-menu
		display: none
	.descript-skill 
		padding-bottom: 119px
		h2
			letter-spacing: -1.6px 
		a
			width: 246px
			margin: 0 0 14px
			&:hover:after
				right: -10px			
		&-body 
			padding: 0 
		&-head
			font-weight: 600	
			letter-spacing: 0
		&-text
			padding: 11px 46px  0
			margin-bottom: 58px
		&-block
			margin: 0
			padding: 0 0 0 4px
		&-img-1
			padding: 11px 74px 0 0	
		.row-my
			margin: auto
			.col-md-12
				padding: 0
				&:nth-child(1) 
					img
						margin: -1px 0 0 -70px
				&:nth-child(2)
					padding: 0 24px
					img
						height: 168px
						margin: -1px 0 0 -16px
				&:nth-child(3)
					padding: 0 0 0 56px
					img
						margin: -1px 0 0 -11px
	.secondery-sren 
		padding: 150px 0 
		h2
			font-size: 36px
			margin: 26px  0 32px
			padding: 0 0 0 0
		p
			letter-spacing: -1.08px
			padding: 0
		&-img
			text-align: right
			img
				max-width: 339px
				
	.mobail-menu
		display: block
	.my-col
		margin: 0 0 0 41px
		padding: 0 66px 0 20px
	.main-content
		p
		.step-img
			margin: 36px 0 0 0 
			width: 100%
	.news-form
		margin: 70px 0 56px -1px 
	.news-form 
		form 
			input[type=submit]
				right: 6px
				top: 1px
				width: 18px
		&:after
			background: $bg-main-1-color url(../img/speech-bubble.svg) no-repeat 64% bottom
	.jaw
		p
		&-block
			padding: 26px 5px 36px
		&-info
			margin: 9px 0 8px -5px !important	
			line-height: 1.32 !important
		.col-4
			&:nth-child(1)
				padding: 0 12px 0 13px
			&:nth-child(2)
				padding: 0 14px 0 12px
			&:nth-child(3)
				padding: 0 16px 0 10px

	.page-two
		&.secondery-sren
			padding: 122px 0 0 0
		h2
			letter-spacing: -.1px
			margin: 26px 0 -11px
		p
			//letter-spacing: -0.5px
		.accent-block 
			.btn-activ
				margin: 31px 0 44px 0 
			p
				letter-spacing: -.5px
	.block-find
		padding-right: 110px
		margin: 0 0 85px
		.li
			font-weight: 400
			margin: 14px 0 0
	#title-6
		padding-right: 150px


	.page-three
		&.secondery-sren
			padding: 78px 0 0 	
			margin: 0 0 23px
			p
				padding: 0				
				margin: -5px 0 86px
				letter-spacing: -0.1px
		h2
			line-height: 1.4
		.secondery-sren-img
			margin: 78px 0 0 96px
			img
				width: 316px	

// ≥992px
+media-breakpoint-down(md)
	p
		font-size: 16px
	.accent-text
		letter-spacing: 0	
	.main-content
		margin: 0
		.step-img
			margin: 33px 0 -40px 0 
	.title-form
		font-weight: 400
	.min-line-height	
		line-height: 1.5
	.main-sren
		text-align: center
	.main-sren	
		&-img
			text-align: center
		h1
			padding: 0
			font-size: 36px
			margin: 45px  0 18px
		p
			padding: 0 20px !important
			margin: 0  0 15px
		
		.update
			margin: 50px 0 0
	.scrol-icon
		display: none

	.descript-skill	
		&-img-1
			padding: 15px 0 0 66px
		h2
			margin: 69px 0 -3px
			padding-bottom: 14px	
		.row-my 
			.col-md-4:nth-child(1) 
				img
					margin: 14px 0 -5px 7px
			.col-md-4:nth-child(2) 
				//margin-bottom: -38px
			.col-md-4:nth-child(3) 
				padding: 0
				img
					margin: -37px 0 -3px 6px
		&-body
			text-align: center
			margin: 15px 0 0
		&-block
			margin: 0 0 100px
		&-block-a
			padding: 0
		&-text
			padding: 0px 15px 0
			margin-bottom: 60px
			font-size: 18px
		&-img-2
			position: static
			margin: -49px 0 -3px 5px
		a
			margin: 0 auto 15px
			width: 100%
	.secondery-sren 
		padding: 70px 0 0 8px
		&-img
			margin: 80px 0 40px
		p
			padding: 0 150px 0 0
			margin-bottom: 148px	
		img
			height: 260px
			width: auto
			padding: 90px 0
		&-img
			transform: translateY(0)
		&.page-two
			padding: 110px 0 130px
	.mobail-menu
		padding: 19px 0 20px 15px
	.item
		margin: 0	0 0 42px !important
	.btn-prev
		margin: 0 0 0 -116px
	.my-col
		margin: 0
	.main-content
		h2
			font-size: 30px
	.my-col 
		margin: 0
		padding-right: 20px
	.news-form
		height: 145px
		padding: 20px 0
		margin: 50px 0 45px
		&-p	
			font-size: 14px !important
		form
			top: 88px 
			left: 0
			input
				&[type=text]
					width: 365px

	#title-1
		margin: 67px 0 30px 0 
	.accent-text
		font-size: 16px	

	.jaw
		&-info
			font-size: 46px
		&-block
			padding: 15px 5px 10px
			line-height: 1.4

	.instans
		&-td
			width: 16%	
			padding: 4px 0 4px 4px
		&-td:last-child
			border-right: none
	.accent-block
		&-title
			font-size: 26px
			margin: 25px 0 15px
		&-block
			.btn-activ
				margin-bottom: 40px
	.hiddin-sm
	 display: none	

	.accent-block:after
		right: calc(-16%)	
	.page-two .accent-block:after
		right: calc(-6%)
	.news-form:after
			right: calc(-16%)

	.table-block-1,
	.table-block-2
			width: 680px
			overflow-x: auto

// ≥768px
+media-breakpoint-down(sm)

// ≥768px
+media-breakpoint-down(sm)
	.main-sren
		text-align: center
		&-img
			margin: 0 0 40px
	.secondery-sren
		&-img
			text-align: left
			margin: 0 0 40px
		p
			max-width: 480px
// ≥576px
+media-breakpoint-down(xs)
	.main-sren
		padding: 76px 0 40px
	.secondary-sren
		padding: 90px 0

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
