$default-font: "Open_Sans", sans-serif

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 28px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 375px, md: 720px, lg: 1080px, xl: 1440px)
$container-max-widths: (   sm: 375px, md: 680px, lg: 967px, xl: 1371px)


$gutter: $grid-gutter-width

$accent: orange
$text: #434A54
$bg-main-1-color: #353F71
$bg-main-2-color: rgba(30,41,73,0.04)
$bg-main-3-color: #439BC3
$bg-main-3_1-color: #0067A5
$separator-header-color: rgba(255, 255, 255, 0.08)
$link-font-color: #429EE2
$activ-link-left-menu-color: #439BC3
$jaw-1-color: #72B4D2
$jaw-2-color: #40BFAB
$jaw-3-color: #E9845F




@mixin left-menu-after 
	color: $activ-link-left-menu-color
	background: transparentize($activ-link-left-menu-color, 0.9)		
	border-right: 2px solid $activ-link-left-menu-color	
	transition: all .1s
	&:before
		position: absolute
		left: -100px
		top: 0
		width: 100px
		height: 100%
		content: ''
		background: transparentize($activ-link-left-menu-color, 0.9)

@mixin style-li-before
		padding: 0 19px 0 0
		font-size: 16px
		position: relative
		top: -2px
@mixin accent-block
	background: $bg-main-1-color //url(../img/speech-bubble.svg) no-repeat 98% bottom
	color: #fff
	position: relative
	width: 100%
	padding: 12px 0 10px
	&:before
		position: absolute
		content: ""
		width: 100%
		height: 100%
		left: -300px
		top: 0
		background: $bg-main-1-color
		z-index: -1
	&:after
		position: absolute
		content: ""
		width: 100%
		height: 100%
		right: -160px
		top: 0
		background: $bg-main-1-color 
		z-index: -1
