@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $activ-link-left-menu-color
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

h1 
	color: #fff
	font-size: 48px
	font-weight: 400
	line-height: 1.2
h2 
	font-size: 40px
	font-weight: 400
	margin: 10px 0 10px
	line-height: 1.2
h3
	font-weight: 900
	font-size: 30px
	margin: 57px 0 23px
h4
	font-weight: 600
	font-size: 24px
	margin: 35px 0 25px	
p
	font-size: 18px
	font-weight: 400
	letter-spacing: .03px
	margin-bottom: 14px
ul
	padding: 0
	margin-bottom: 14px
li
	font-size: 18px
	list-style-type: none
	margin: 0px 0
	position: relative
	&:before
		@include style-li-before
		color: $activ-link-left-menu-color
		content: '●'

b, strong
	font-weight: 600
a
	color: $text
	border-bottom: 2px solid $bg-main-3-color
	&:hover
		background: $bg-main-3-color
		text-decoration: none
		color: #fff
		position: relative
		//display: inline-block
		transition: .5s all

table
	background: #fff
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.11)
	margin: 46px 0 50px
th
	border: 1px solid rgba(67, 74, 84, 0.12)
	padding: 17px 26px 14px
	color: $activ-link-left-menu-color
	font-weight: 600				
td
	border: 1px solid rgba(67, 74, 84, 0.12)
	padding: 20px 36px 21px 25px
	line-height: 28px
	&:first-child
		font-weight: 600
		vertical-align: top
		padding: 23px 10px 10px 28px
		letter-spacing: 1px
.logo
	//margin: 0 0 0 3px
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center
.btn
	display: inline-block
	cursor: pointer
	font-weight: 600
	&-activ
		&:hover
			opacity: .74
			transition: all .3s
			box-shadow: 0 0 10px 0 #ccc
			

header
	background: $bg-main-1-color
	color: #fff
	font-size: 16px
	padding: 20px 30px 20px
	border-bottom: 1px solid $separator-header-color
	position: absolute
	width: 100%
	z-index: 2
	height: 67px
	overflow: hidden
	.btn-activ
		margin: 0 0 0 40px
.logo
	img
		max-width: 185px

.main-menu
	text-align: center
	li 
		display: inline-block
		margin: 0 20px
		cursor: pointer
		&:before
			content: ""
		&:hover
			color: darken(#fff, 20%)
			box-shadow: 0px 1px 0px 0 darken(#fff, 20%)

		
.btn-activ
	background: #fff
	color: $link-font-color
	height: 40px
	width: 164px
	text-align: center
	padding: 5px 0 0
	border-radius: 3px
	font-size: 16px

//	Start main-sren
.page-one
 th 
 	&:first-child
 		width: 258px

.main-sren
	background: $bg-main-1-color
	color: #fff
	padding: 220px 0 200px
	position: relative
	.row
		align-items: center
	&-text
		padding-right: 70px !important
	h1
		line-height: 1.15
		margin-bottom: 12px
	p
		opacity:  0.74
		padding: 15px 0 0
		font-size: 20px
		line-height: 1.4
	.update
		opacity: 0.36
.main-sren-img
	img
		width: 100%
		max-width: 460px

.scrol-icon
	height: 50px
	width: 30px
	border: 1px solid #fff
	text-align: center
	border-radius: 15px
	position: absolute;
	bottom: 60px
	left: 50%
	transform: translateX(-50%)
	&:before
		position: absolute
		width: 4px
		height: 4px
		left: 12px
		top: 12px
		background: #fff
		content: ""
		border-radius: 50%
		animation: linear 1.3s scrolling infinite
	&:after
		position: absolute
		width: 20px
		height: 20px
		bottom: -29px
		left: -10px
		content: "SCROLL"
		font-size: 13px
		opacity: 0.35
		animation:  linear 1.3s scrolling-text infinite
@keyframes scrolling
	0%		
	100%
		top: 35px
		opacity: 0
@keyframes scrolling-text
	0%
	50%
		opacity: .4
	100%
		opacity: 0.85

.descript-skill
	text-align: center
	background: $bg-main-2-color
	&-block
		margin: 0 0 133px
		position: relative
		&-a
			padding: 0 13px 0 0
	&-text
		padding: 12px 150px 9px
		margin: 0 0 50px
	&-body
		text-align: left
		margin: 10px auto 0
		padding: 0 22px 0 40px
		&-2
			margin-top: 171px
	&-head
		font-size: 24px
		//font-weight: 600
		margin: 0 0 10px
		letter-spacing: .4px
	&-img
		&-1
			padding: 11px 14px 0 0
		&-2
			position: absolute
			top: -180px
			left: 8px
			width: 100%
		&-3
			padding: 28px 7px 0 0
			margin: 0 0 11px
	.row-my
	 margin: 0 -80px
	h2
		margin: 94px 0 0
		letter-spacing: .1px 
	img		
		width: auto
	a
		display: block
		margin: 0 0 15px
		color: $text
		font-size: 18px
		opacity: .74
		border-bottom: none
		position: relative
		text-decoration: none
		letter-spacing: 0.05px
		font-weight: 600
		&:hover
			color: $link-font-color
			text-decoration: none
			background: none
			&:after
				position: absolute
				right: -15px
				top: 11px
				width: 13px
				height: 10px
				content: ''
				background: url(../img/arrow.svg) no-repeat

.secondery
	&-accent-block
		width: 190px
		margin: 0 0 0 4px
		height: 36px
		line-height: 36px
		text-align: center
		font-weight: 600
		background: #fff
		color: $bg-main-3-color
		border-radius: 3px
	&-sren
		background: $bg-main-3-color
		padding: 140px 0 115px
		color: #fff
		z-index: 10
		position: relative
		&-img
			text-align: center
			transform: translateY(36px)
			img
				width: 100%
				max-width: 465px
		h2
			font-size: 48px
			padding: 3px 242px 0 0 
		p
			margin: 25px 0 0
			opacity: 0.74
			font-size: 20px
			line-height: 1.4
			padding: 0 40px 0 0
//	Start left menu
.left-menu
	background: #fff
	border-right: 1px solid #ccc
	height: 110%
	&-block
		padding: 54px 0 0 0px
		margin:  0 0 0
		&:nth-child(2)
			padding: 40px 0 0 0
		&:nth-child(3)
			padding: 50px 0 0 0
	&-title
		font-size: 24px
		margin: 0px 0 20px
		letter-spacing: .45px
	.activ
		@include left-menu-after 
	a
		display: block
		color: $text
		padding: 7px 35px 9px 20px
		position: relative
		width: 100%
		text-decoration: none
		font-weight: 600
		letter-spacing: -0.2px
		line-height: 26px
		border-bottom: none !important
		&:hover
			text-decoration: none
			@include left-menu-after 
.title-activ
	color: $activ-link-left-menu-color
.fixed-menu
	position: fixed	
	top: 0
	width: 314px
//	End left menu
//	Start main content
.main-content
	h2
		font-size: 40px
		font-weight: 900
		margin: 65px 0 39px
	img
		width: 100%
		height: auto
		margin: 33px 0 22px 8px
	.step-img
		width: 99%
		height: auto
.my-col
	margin: 0 0px 80px 80px
	padding: 0 94px 0 20px
.news-form
	&-p
		opacity: .54
	@include accent-block
	margin: 52px 0 56px
	padding: 13px 0 10px 0
	margin-left: -1px
	&:after
		background: $bg-main-1-color url(../img/speech-bubble.svg) no-repeat 64% bottom
	p
		margin: 0
		font-size: 16px
	form
		position: absolute
		top: 25px
		left: 537px
		input[type="text"]
			background: none
			border: none
			border-bottom: 1px solid #fff
			width: 260px
			color: #fff
			opacity: .6
			position: relative
			padding: 0 0 0 7px
			&::-webkit-input-placeholder 
				color: #fff
			&::-moz-placeholder          
				color: #fff/* Firefox 19+ */
			&:-moz-placeholder           
				color: #fff/* Firefox 18- */
			&:-ms-input-placeholder      
				color: #fff
		input[type="submit"]
			background: url(../img/arrow-fff.svg) no-repeat center
			border: none
			cursor: pointer
			color: #fff
			position: absolute
			top: 0
			right: 0
			width: 20px
.title-form
	margin: 0 0 2px !important
	letter-spacing: 1.25px
	font-weight: 600

.jaw
	text-align: center
	margin: 61px 0 64px
	&-block
		padding: 27px  0px 35px
	&-info
		font-size: 64px
		font-weight: 600
		color: #fff
	.col-4
		&:nth-child(1) 
			padding-left: 14px
			padding-right: 12px
			.jaw-block
				background: $jaw-1-color
		&:nth-child(2) 
			padding-left: 12px
			padding-right: 14px
			.jaw-block
				background: $jaw-2-color
		&:nth-child(3) 
			padding-left: 10px
			padding-right: 16px
			.jaw-block
				background: $jaw-3-color
	p
		color: #fff
		opacity: 0.85
		margin: 0
		font-weight: 600 
		&:first-child
			margin-bottom: -10px
		&:last-child
			font-size: 14px
			margin-top: -6px
			letter-spacing: 0px
p.jaw-info			
	opacity: 1
	font-weight: 900
.instans
	margin: 45px 0
	&-row
		width: 100%
		margin: 8px 0
	&-td
		display: inline-block		
		padding: 5px 0px
		border-left: 1px solid transparentize($text, 0.85)
		width: 13.75%
		font-weight: 600
		font-size: 15px
		text-align: center
		span
			font-weight: 400
			opacity: .7
		&:last-child
			border-right: 1px solid transparentize($text, 0.85)
			width: 14.355%

.ask-block
	background: $jaw-1-color
	color: #fff
	padding: 20px 40px 0 50px
	margin: 50px 0 98px
	line-height: 1.3
	p
		font-size: 22px
		padding-right: 30px
		margin: 0
		position: relative
		letter-spacing: 0
		&:first-child:before
			content: ''
			width: 23px
			height: 17px
			left: -36px
			top: 0
			position: absolute
			background: url(../img/quote.svg) repeat-x
			background-size: contain
		&:first-child:after
			content: ''
			width: 23px
			height: 17px
			right: 46px
			bottom: 5px
			position: absolute
			background: url(../img/quote.svg) repeat-x
			background-size: contain
			transform: rotate(180deg) 
	.aftor
		p
			font-size: 14px
			display: inline-block
			margin: 0 0 0 15px
			padding: 20px 0 0
			font-weight: 600
			margin: 5px 5px 17px
			span
				font-weight: 400
				margin: 2px 0 0 0
				display: block
		img
			width: 32px
			height: 32px
			vertical-align: baseline
			margin: 0

.title-ul
	margin: 0

.note
	&-block
		background: transparentize($activ-link-left-menu-color, 0.9)
		position: relative
		padding: 13px 20px 20px 50px 
		margin: 51px 0 78px
		p
			margin: 0	
		&:after
			position: absolute
			width: 3px
			height: 100%
			right: 0
			top: 0
			background: $activ-link-left-menu-color
			content: ''
	&-title
		letter-spacing: -0.3px
		position: relative
		&:before
			position: absolute
			content: ''
			width: 20px
			height: 20px
			left: -33px
			top: 3px
			background: url(../img/info.svg) no-repeat

.accent-block
	@include accent-block		
	text-align: center
	margin: 60px 0px 157px
	&-title
		font-size: 30px
		font-weight: 600
		margin: 20px 0 14px
		padding: 6px 0 0 54px
		line-height: 42px
		letter-spacing: .6px
	&-text
		position: relative
		left: 25px
		margin-bottom: 19px
	.btn-activ
		margin: 20px 0 20px 49px 
		height: 50px
		width: 173px
		padding: 13px 0 0
		letter-spacing: 1px
	a
		color: #fff
	p
		//padding-left: 50px




//	End main content
// Start mobail menu
.mobail-menu
	height: 66px
	background: #fff
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15)
	text-align: center
	padding-top: 20px
	display: none
	.item
		font-size: 20px
		margin: -1px 0 0 84px
		letter-spacing: 0.4px
.hamburger
	margin: -13px 0 0 -23px
.hamburger-inner, 
.hamburger-inner:after, 
.hamburger-inner:before 
	height: 2px
	width: 35px
.btn-prev,
.btn-next
	width: 25px
	height: 30px
	position: relative
.btn-prev
	background: url(../img/str.svg) no-repeat center
	transform: rotate(180deg)
	left: 56px
.btn-next
	background: url(../img/str.svg) no-repeat center
	left: 62px

//	End mobail menu
//	Start styel two page
.page-two
	a
		border-bottom: 2px solid $jaw-2-color
	&.secondery-sren
		padding: 220px 0 
		background: $jaw-2-color
	.secondery-accent-block
		width: 198px
		color: $jaw-2-color
	.accent-text
		color: $jaw-2-color
		margin: 26px 0 0 0
		letter-spacing: 0px
	.li:before
		color: $jaw-2-color
	.title-5
		line-height: 1.3 
		margin: 0 0 68px	
	h3
		margin: 55px 0 23px
	table
		margin-bottom: 75px
	th
		color: $jaw-2-color
		padding: 10px 0 14px 27px
		font-weight: 600
		letter-spacing: 0px
		&:first-child
			width: 255px
	td:last-child
		font-weight: 400
		padding-right: 40px
	.li-inner
		padding: 0
		margin: 0
		font-weight: 600
		&:before
			color: $jaw-2-color
	.accent-block
		margin: 48px 0 95px
		padding: 10px 0 0 
		&-title
			font-size: 24px
			margin: 30px 0 13px
			padding: 0
			font-weight: 900
		.btn-activ
			margin: 3px 0 44px
	.undr-ln
		border-bottom: 2px solid $jaw-2-color
	table.price-hdd
		margin: 0
	.price-hdd
		text-align: left
		font-weight: 400
		font-size: 14px
		vertical-align: top
		&-outer
			overflow: auto
			margin: 33px 0 46px
		tr:last-child td
			padding-bottom: 26px	
		th
			width: auto
			padding: 10px 0px 10px 8px 
		td
			padding: 13px 0 16px 11px
			line-height: 1.4
			vertical-align: top
			&:first-child
				font-weight: 400
				min-width: 122px
				letter-spacing: 0
			&:nth-child(2)
				min-width: 94px
			&:nth-child(3)
				min-width: 119px
			&:nth-child(4)
				min-width: 165px
			&:nth-child(5)
				min-width: 177px
			&:last-child
				min-width: 120px
.block-storage
	margin: 29px 0  28px
	padding-right: 163px
	.accent-text
		margin: 0
	.li-inner
		margin: 14px 0 0				
.ebs
	&-table
		text-align: center
		margin-top: 0
		width: 798px
		margin-bottom: 13px !important
	&-block-table
		overflow-y: auto
		tr:last-child td
			padding-bottom: 32px
		th,	td
			font-size: 15px
		th	
			padding: 9px 0 15px
			letter-spacing: 0.6px
			line-height: 1.4
			&:first-child				
				min-width: 160px
			&:nth-child(2)
				min-width: 160px
			&:nth-child(3)
				min-width: 160px
			&:nth-child(4)
				min-width: 160px
			&:nth-child(5)
				min-width: 159px
		td	
			padding: 22px 5px 19px
			&:first-child
				letter-spacing: 0
			&:last-child
				padding: 22px 5px 19px
		span
			font-weight: 400
			opacity: .75
	&-title
		font-size: 22px
		font-weight: 900
		text-align: center
		margin: 38px 0 19px		
	&-discript
		font-size: 15px
		text-align: center

.li-ol
	font-size: 24px
	font-weight: 600
	color: $jaw-2-color
	margin-right:  10px

.cent-five
	padding: 0 0 0 56px
	color: $jaw-2-color
	font-size: 16px
	span
		margin: 0 11px
		font-size: 18px
	b
		font-size: 18px
		letter-spacing: -.3px

.block-cluster
	margin: 72px 0 107px
.block-plan-instance
	h3
		margin: 46px 0 31px 
		line-height: 1.4
.block-storage-optimized
	margin-bottom: 88px
	h3
		margin: 79px 0 35px
	.li
		font-weight: 400
		margin: 27px 0 0	
	.cent-five
		text-align: left
		font-size: 16px
		padding-left: 30px
		margin: 15px 0 30px
		letter-spacing: .2px
.block-сonsiderations		
	h3
		margin: 79px 0 35px	
#title-6
	padding-right: 140px
	line-height: 1.4
	margin-bottom: 60px
//	End styel two page
//	Start styel three page
.page-three 
	&.secondery-sren
		background: $bg-main-3_1-color
		padding: 78px 0 
		h2
			padding: 0
		p
			padding: 0 84px 0 0px
	h3
		margin-top: 82px
	@at-root 
		.main-content		
			.page-three
				h2
					margin: 106px	0 50px
					line-height: 1.4
	.li:before 
    color: $bg-main-3_1-color
	.secondery-accent-block
		width: 197px	
	.accent-text
		color: $bg-main-3_1-color
.ul-1
	margin-bottom: 14px
	.li-inner
		padding: 0
		margin: 0
.table-pege-three-1
	margin: 34px auto 51px
	width: 570px
	text-align: center
	th
		width: 50%
		font-weight: 600
		color: $bg-main-3_1-color
	td
		padding: 21px 0 20px
.table-pege-three-2
	text-align: center
	width: 768px
	margin: 38px auto 46px
	th
		font-weight: 600
		color: $bg-main-3_1-color
		&:first-child
			width: 325px
		&:last-child
			width: 213px
	td
		padding: 6px 0 7px
		&:first-child
			letter-spacing:  0px

.table-pege-three-3
	width: 570px			
	margin: 38px auto 90px
	text-align: center
	th
		padding: 16px 0 13px 0
		width: 50%
		letter-spacing: 0
	td
		padding: 7px 0 6px 0
.table-pege-three-4
	width: 797px
	margin: 33px auto 90px
	th
		font-weight: 600
		&:first-child
			width: 279px
		&:last-child
			width: 257px
	td
		padding: 7px 0 6px 21px
		letter-spacing: 0
		vertical-align: top
.dit-title
	font-size: 24px
	font-weight: 600
	margin: 21px 0 11px
	span
		color: $bg-main-3_1-color

.subnet
	margin: 57px 0 51px -13px !important		
//	End styel three page

//	Start ofser style
.accent-text
	color: $bg-main-3-color
	font-weight: 900
	margin-bottom: 15px
.bold
	font-weight: 900
	&-bl
		font-weight: 600
		text-decoration: underline
	&-gr
		text-decoration: underline
		opacity: .7

//	Start style class li
.li
	font-weight: 600
	margin: 14px 0 0px
	//letter-spacing: -0.3px
	&:before
		@include style-li-before		
		content: '●'
		color: $activ-link-left-menu-color
	&:last-child
		margin: 0 0 30px
.title-li-inner
	margin: 14px 0
	b
		font-weight: 900
.li-inner
	padding: 0 0 0 28px
	&:before
		padding: 0 18px 0 0		
		content: '○'
		color: $activ-link-left-menu-color
		font-size: 16px
		position: relative
		top: -2px
.li-outer-block
	margin: 0 0 28px 
.nb
	font-weight: 400
//	End style class li
.add-margin-top
	margin: 28px 0 0px
.ta-center
	text-align: center

#title-1
	font-size: 30px
	margin: 73px 0 28px 0 



	
.hz-2
	margin-top: 24px
.hz-3
	margin-top: 55px
.hz-4
	margin-top: 28px
	margin-bottom: -15px
.hz-5
	.li
		font-size: 18px
	.li-inner
		margin: 14px 0 28px 1px
	p:last-child
		margin: 14px 0 -14px 0
.hz-6
	margin: 81px 0 26px !important
.hz-7
	margin-bottom: 30px	

.hz-9
	margin-top: 86px !important
.hz-10
		margin-top: 26px
		margin-bottom: 5px
.hz-11
		margin-top: 26px
.hz-12
	padding-right: 180px
.hz-13
	margin-top: 42px	
.hz-14
	margin-top: -30px
	margin-bottom: 29px
.hz-15
	margin-top: 80px !important
	margin-bottom: 29px
.hz-16
	margin: 59px 0 0
	font-weight: 600
.hz-17
	margin-top: 36px
.hz-18
	margin-top: -14px	
@import "media" // Always at the end
